/* Error: Undefined mixin.
 *    ,
 * 17 | /     @include respond(tablet) {
 * 18 | |       border-radius: 18px;
 * 19 | \     }
 *    '
 *   src/scss/buttons.scss 17:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 17 \2502  \250c      @include respond(tablet) {\a 18 \2502  \2502        border-radius: 18px;\a 19 \2502  \2514      }\a    \2575 \a   src/scss/buttons.scss 17:5  root stylesheet";
}
